@import '../styles/colors.scss';

html,
body {
  height: 100%;
  background-color: $color-grey-steam;
}
.app {
  &__container {
    text-align: center;
    padding: 20px;

    h1, h3 {
      border: none;
      margin: 20px auto ;
      padding: 0 0;
      font-family: Tahoma,Geneva,Arial,sans-serif;
      font-weight: 700;
      line-height: 1.3em;
      text-transform: none;
      color: $color-black;
    
      div {
        font-size: 14px;
      }
    }

    h3 {
      margin: 0;
    }
  }
}