.sorting-bar__container {
  display: flex;
  padding: 0 10%;
  background: rgba(18, 18, 19, 0.2);
  align-items: center;
  color: #fff;
  padding-bottom: 5px;
  margin-bottom: 5px;
  button {
    height: 40px;
    align-items: center;
    display: flex;
    padding: 0 10px;
    font-family: monospace;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #e5e5e5;
    border-radius: 30%;
    &:hover {
      // background: rgba(18, 18, 18, 0.2);
      font-size: 20px;
      font-weight: bolder;
      transition: font-size 0.1s, opacity 0.1s ease-out;
      color: #fff;
    }
  }
}