$mobiles: "(min-width: 320px) and (max-width: 480px)";
$tablets: "(min-width: 481px) and (max-width: 768px)";
$laptops: "(min-width: 769px) and (max-width: 1024px)";
$desktops: "(min-width: 1025px) and (max-width: 1200px)";
$desktops-widescreen: "(min-width: 1201px) and (max-width: 1824px)";
$screens-xl: "(min-width : 1825px)";
